<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Error_message_generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Error_message_generator.Properties.Settings>
            <setting name="Image" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Button_Wid" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Button_num" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Button1_Text" serializeAs="String">
                <value>はい(Y)</value>
            </setting>
            <setting name="Button2_Text" serializeAs="String">
                <value>いいえ(N)</value>
            </setting>
            <setting name="Button3_Text" serializeAs="String">
                <value>キャンセル(C)</value>
            </setting>
            <setting name="Button4_Text" serializeAs="String">
                <value>は？(H)</value>
            </setting>
            <setting name="Button1_X" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="Button2_X" serializeAs="String">
                <value>131</value>
            </setting>
            <setting name="Button3_X" serializeAs="String">
                <value>241</value>
            </setting>
            <setting name="Button4_X" serializeAs="String">
                <value>351</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Error message generator v1.0 - by Project-S Twitter:@ProjectS31415_1</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>2022/03/09　v1.0</value>
            </setting>
        </Error_message_generator.Properties.Settings>
    </userSettings>
</configuration>